header {
text-align: center;
width: 100%;
}

.jumbotron-fluid {
    background-color: rgb(0, 0, 12);
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Teko', sans-serif;
    color: rgb(247, 6, 6);
    
}

.jumbotron-fluid h1 a img, .jumbotron-fluid p a img {
    width: 100%;

}

body {
    background-color: #fefefe;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 23px;
}

h2{
    font-weight: 700;
}

.movie {
    padding: 5px;
    width: 100% !important;
    margin-top: 40px;
}

h1 {
    font-size: 150px;
    width: 100%;
}

.lead {
    font-size: 70px;
    width: 100%;
}

button {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: black;
    color: rgb(247, 6, 6);
    padding: 10px;
    
}

/* iPad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
        font-size: 100px;
        width: 100%;
    }
    .lead {
        font-size: 50px;
        width: 100%;
    }
    footer {
        bottom: 0;
        width: 100%;
    }
    .tag {
        font-size: 30px;
    }

}

/* iPhone 6-X Responsiveness */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    h1 {
        font-size: 40px;
        width: 100%;
    }
    .lead {
        font-size: 20px;
        width: 100%;
    }
    footer {
        bottom: 0;
        width: 100%;
        position: fixed;
    }
    .tag {
        font-size: 10px;
    }
    #restandmoves {
        margin-bottom: 70px;
    }

}

/* iPhone 5 Responsiveness */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
        font-size: 40px;
        width: 100%;
    }
    .lead {
        font-size: 20px;
        width: 100%;
    }
    footer {
        bottom: 0;
        width: 100%;
    }
    .tag {
        font-size: 10px;
    }
    .media div img {
        width: 100%;
    }
}


